- var uLog = login;
- var myMovies = movies;
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Luckiest+Guy|Patrick+Hand+SC|Special+Elite|Ubuntu', rel='stylesheet')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body
    input#name(type='text', placeholder='Enter movie name')
    button#butt Find
    span#backToList 
    button#log.auth= uLog 
    button#signOut.auth Sign Out
    hr
    #results
      - for (var i = 0; i < myMovies.length; i++) {
        - var x = 'https://image.tmdb.org/t/p/w500' + myMovies[i].poster_path
        div.cell
          h2= myMovies[i].title
          h3
            = myMovies[i].release_date
             /rating:
            = myMovies[i].vote_average
          img(src= x width=200 height=300)
          
          

          //- var cell = "<div class='cell'><h2>" + title + "</h2><h3>" + year + " / rating: " + type + "</h3><img src='https://image.tmdb.org/t/p/w500" + poster + "' alt='No poster' width=200 height=300 ><br><button class='addMov' class='add' myMoviesId= '" + id + "'>Add to list</button><a href='/p" + id + "'><button class='view'>Details</button></a><p class='alreadyIn'></p></div>";
          //- $("#results").append(cell);
          //- $("#backToList").html("<button id='bcktolst' class='auth'>My movies</button>");
      - }
    // script connected
    script(src='js/client.js')
    // script connected