- var uLog = ""+ login+ "'s movie list";
- var myMovies = movies;
- var rating = "  |  Rating: ";
- var image = 'images/delete.png';
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Luckiest+Guy|Patrick+Hand+SC|Special+Elite|Ubuntu', rel='stylesheet')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body
    input#name(type='text', placeholder='Enter movie name')
    button#buttL Find
    span.nav
      span#backToList 
      button#log.auth= uLog 
      button#signOut.auth Sign Out
    hr
    #results
      - for (var i = 0; i < myMovies.length; i++) {
        - var x = 'https://image.tmdb.org/t/p/w500' + myMovies[i].poster_path
        div.cell(dataId=myMovies[i].id)
          h2= myMovies[i].title
          h3
            = myMovies[i].release_date
            = rating
            = myMovies[i].vote_average
            /10
          img(src= x width=200 height=300)
          br
          img(src= 'images/watched.png' width=30 height=30).seen
          img(src= image width=30 height=30).remove
          p.delete Remove from list
          
          


      - }
    // script connected
    script(src='js/client.js')
    // script connected