.cell {
 width: 290px;
 min-height: 456px;
 /* height: 520px; */
 border: 1px solid black;
 margin-bottom: 10px;
 margin-left: 10px;
 text-align: center;
 background-color: rgba(255, 255, 255, 0.85);
 border-radius: 3px;
 font-family: 'Patrick Hand SC', cursive;
 text-transform: uppercase;
 /* box-sizing: content-box; */
 /* font-size: 2vh; */
 font-weight: bold;
}

.hdr2{
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: 100%; */
    max-height: 30px; 
    font-size: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
     
}

h3{
    margin-top: 10px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

}

.addMov {
    
    
}
.view {
    padding: 5px;
}

.cellbutt {
    width: 120px;
    height: 42px;
    cursor: pointer;
    font-size: 20px;
    background:rgba(253, 253, 253, 0.5);
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    outline: none; 
    font-family: 'Patrick Hand SC', cursive;
    text-transform: uppercase;
    margin: 5px;

}

.cellbutt:hover {
    background:rgba(200, 246, 255, 0.60);
    border: 1px solid rgb(100, 156, 251);
}


body {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

input {
    width: 800px;
    height: 40px;
    outline: none;
    border: 0;
    background:rgba(255, 255, 255, 0.95);
    color: black;
    font-size: 20px;
    padding-left: 10px;
    /* font-family: 'Special Elite', cursive; */
    /* font-family: 'Patrick Hand SC', cursive; */
    font-family: 'Ubuntu', sans-serif;
}

#butt {
    position: absolute;
    width: 70px;
    height: 42px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    background:rgb(176, 103, 77);
    color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(140, 125, 94, 1);
    border-radius: 3px;
    outline: none; 
    font-family: 'Ubuntu', sans-serif;
}
#buttL{
    position: absolute;
    width: 70px;
    height: 42px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    background:rgba(176, 106, 77, 0.9);
    color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(140, 125, 94, 1);
    border-radius: 3px;
    outline: none; 
    font-family: 'Ubuntu', sans-serif;

}

#butt:hover {
    background:rgba(176, 106, 77, 1);
    border: 1px solid rgba(0, 0, 0, 0.7);
}

#buttL:hover {
    background:rgba(176, 106, 77, 1);
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.cell:hover {
    background-color: rgba(255, 255, 255, 1);
}

.blue:hover {
    background-color: rgba(248, 117, 35, 0.925);
}

input:hover {
    background-color: rgba(255, 255, 255, 1); 
}

.auth{
    /* position: absolute; */
    min-width: 70px;
    height: 42px;
    cursor: pointer;
    font-size: 20px;
    background:rgba(253, 253, 253, 0.5);
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(140, 125, 94, 1);
    border-radius: 3px;
    outline: none; 
    font-family: 'Ubuntu', sans-serif;
    margin-right: 2px; 
    /* float: right; */
}

#log{
    /* margin-left: 340px; */
}

#reg{
    /* margin-left: 430px; */
    width: 100px;
}

.auth:hover {
    background-color: rgba(255, 255, 255, 0.9); 
}

#switch {
    float: right;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;

}

#signOut{
    width: 100px;
}

#bcktolst{
    
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    float: right;
}

img{
    border-radius: 2%;
    border: 1px solid;
}

.delete{
    width: 50%;
    margin: 5px auto;
    border: 1px solid red;
    cursor: pointer;
    display: none;
}

.delete:hover{
    background: rgba(255, 0, 0, 0.2);
}

.remove, .seen, .comm{
    border: none;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    /* display: none; */
}

.remove:hover{
    background: #F36C6C;
}

.comm:hover{
    background: #6DA9F1;
}

/* .seen{
    border: none;
    border-radius: 50%;
    margin:10px;
    cursor: pointer;
    display: none;
} */

.seen:hover{
    background: lightgreen;
}

#wall{
    background-image: url(images/joker.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    /* background-attachment: fixed; */
    background-size: contain;
    width: 300px;
    height: 500px;
    position: absolute;
    left: 1000px;
    top: 162px;
    cursor: pointer;
    /* border: 1px solid; */  
}


 #why{
    background-image: url(images/why1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    /* background-attachment: fixed; */
    background-size: contain;
    width: 290px;
    height: 190px;
    position: absolute;
    left: 340px;
    top: -140px;
    display: none;
    
 }

 #wall:hover #why{
    display: block;
 }

 #nope{
    min-width: 0;
    /* height: 40px; */
    background: #FDBDBD;
    position: absolute;
    border: 1px solid red;
    display: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    top: 139px;
    left: 200px;
 }

 #nomov{
    min-width: 0;
    /* height: 40px; */
    background: #F9E1E1;
    position: absolute;
    border: 1px solid red;
    display: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    top: 15px;
    left: 570px;
    display: none;
 }

 .none{
     display: none;
 }

 .overview{
     float: left;
     margin: 0 15px;
 }

 .cello{
    width: 500px;
    min-height: 480px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
    /* text-transform: uppercase; */
    padding: 0 20px;
    box-sizing: border-box;
 }
 a{
     text-decoration: none;

 }

 .det{
     display: inline-block;
     padding: 10px;
 }
 .padd{
    padding: 7px;
 }

 .summary{
     min-height: 300px;
 }

/* /////////////////// */


#load{
    width: 100px;
    height: 100px;
    position: fixed;
    top: calc(20% - 50px);
    left: calc(50% - 50px);
    margin-top: calc(20% - 50px);
    background-image: url(images/load3.svg);
    animation-name: preload;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: none;
}
 

@keyframes preload{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.blue{
    /* background: rgba(253, 125, 50, 0.918); */
    background-image: url(images/colbg11.jpg);
    background-size: cover;
}
.green{
    background: lightgreen;
}
